# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for instrumented libs
lib-cov

# Coverage
coverage
*.lcov
.nyc_output

# Grunt intermediate storage
.grunt

# Bower dependency directory
bower_components

# Node waf configuration
.lock-wscript

# Compiled binary addons
build/Release

# Dependency directories
node_modules/
jspm_packages/
web_modules/

# TypeScript cache
*.tsbuildinfo

# Optional caches
.npm
.eslintcache
.stylelintcache
.node_repl_history
*.tgz
.yarn-integrity

# dotenv files
.env
.env.*
!.env.example

# Parcel cache
.cache
.parcel-cache

# Framework build outputs
.next
.nuxt
dist
.vuepress/dist
.temp
.svelte-kit/
**/.vitepress/dist
**/.vitepress/cache
.docusaurus
.serverless/
.fusebox/
.dynamodb/
.firebase/
.tern-port
.vscode-test

# Package manager lock files
package-lock.json
yarn.lock
pnpm-lock.yaml

# IDE/editor directories
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db
